body,
html {
  height: 100%;
  min-height: 100%;
}
body {
  background: -webkit-linear-gradient(top, #f6f7fc 0%, #d5e1e8 40%);
  background: linear-gradient(to bottom, #f6f7fc 0%, #d5e1e8 40%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(800px);
  transform: perspective(800px);
}
textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  box-shadow: inset 0 -1px 0 #b9b9b9;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #3b3f51;
}
.navbar {
  min-height: 54px;
  height: 54px;
}
.navbar-default .navbar-brand {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 700;
}
.danger {
  color: #ff3b30;
}
.warning {
  color: #fc0;
}
.success {
  color: #4cd964;
}
.custom-badge {
  padding: 3px 6px 5px;
  display: inline-block;
  min-width: 35px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #fff;
}
.home-main .poster {
  height: 500px;
  width: 320px;
  position: absolute;
  top: 5%;
  left: 50%;
  margin: -25px 0 0 -160px;
  border-radius: 5px;
  box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.home-main .poster .shine {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
  z-index: 100;
}
.home-main .poster div[class*="layer-"] {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.home-main .intersteller .poster .layer-1 {
  background-image: url("http://designmodo.com/demo/apple-tv-parallax/images/1.png");
}
.home-main .intersteller .poster .layer-2 {
  background-image: url("http://designmodo.com/demo/apple-tv-parallax/images/2.png");
}
.home-main .intersteller .poster .layer-3 {
  background-image: url("http://designmodo.com/demo/apple-tv-parallax/images/3.png");
}
.home-main .intersteller .poster .layer-4 {
  background-image: url("http://designmodo.com/demo/apple-tv-parallax/images/4.png");
}
.home-main .intersteller .poster .layer-5 {
  background-image: url("http://designmodo.com/demo/apple-tv-parallax/images/5.png");
}
.home-main .deadpool .poster .layer-1 {
  background-image: url("http://lab.mariusbalaj.com/poster/deadpool/1.png");
}
.home-main .deadpool .poster .layer-2 {
  background-image: url("http://lab.mariusbalaj.com/poster/deadpool/2.png");
}
.home-main .deadpool .poster .layer-3 {
  background-image: url("http://lab.mariusbalaj.com/poster/deadpool/3.png");
}
.home-main .deadpool .poster .layer-4 {
  background-image: url("http://lab.mariusbalaj.com/poster/deadpool/4.png");
}
.home-main .deadpool .poster .layer-5 {
  background-image: url("http://lab.mariusbalaj.com/poster/deadpool/5.png");
}
